/* our custom styles */

body .label {
    color: #4d4d4d;
    font-size: 100%;
}

a.disabled {
    pointer-events: none;
}

/* loading */
.glyphicon-refresh-animate {
    -animation: spin 1.7s infinite linear;
    -webkit-animation: spin2 1.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* custom content type icons */
/* as folder */
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-readerct::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-libraryct::before {
    content: "";
}

/* as collection */
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-library::before {
    content: "";
}

/* as page */
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-branch::before {
    content: "";
}

/* as link */
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-reader::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-librarian::before {
    content: "";
}

#ziskej-header {
    text-align: right;
    margin: 6px 0 6px 1em;
}

.devref {
    color: #696969;
}

#portal-footer-wrapper .devref a {
    color: #696969;
}

/* TinyMCE templates */

// image-grid-2x2:
.image-grid-2x2 {
    padding: 0;
    margin: 0 0 @grid-gutter-width 0;
    list-style: none;
    .make-row();

    > li {
        .make-xs-column(12);
        .make-sm-column(6);
        margin-top: @grid-gutter-width;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
