/* FONTY */
@font-face {
  font-family: 'CooperHewitt-Bold';
  src: url('fonts/CooperHewitt/CooperHewitt-Bold.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Bold.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Bold.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-BoldItalic.';
  src: url('fonts/CooperHewitt/CooperHewitt-BoldItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-BoldItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-BoldItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Book';
  src: url('fonts/CooperHewitt/CooperHewitt-Book.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Book.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Book.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-BookItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-BookItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-BookItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-BookItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Heavy';
  src: url('fonts/CooperHewitt/CooperHewitt-Heavy.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Heavy.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Heavy.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-HeavyItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-HeavyItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-HeavyItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-HeavyItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Light';
  src: url('fonts/CooperHewitt/CooperHewitt-Light.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Light.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Light.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-LightItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-LightItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-LightItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-LightItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Medium';
  src: url('fonts/CooperHewitt/CooperHewitt-Medium.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Medium.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Medium.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-MediumItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-MediumItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-MediumItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-MediumItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Semibold';
  src: url('fonts/CooperHewitt/CooperHewitt-Semibold.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Semibold.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Semibold.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-SemiboldItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-SemiboldItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-SemiboldItalic.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-Thin';
  src: url('fonts/CooperHewitt/CooperHewitt-Thin.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-Thin.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-Thin.svg') format('svg');
}

@font-face {
  font-family: 'CooperHewitt-ThinItalic';
  src: url('fonts/CooperHewitt/CooperHewitt-ThinItalic.eot');
  src: url('fonts/CooperHewitt/CooperHewitt-ThinItalic.woff') format('woff'),
       url('fonts/CooperHewitt/CooperHewitt-ThinItalic.svg') format('svg');
}
/* FONTY */



/* BARVY */
.ziskej-orange, .color-orange {color: #eb661b!important;}
.ziskej-grey, .color-grey {color: #808080!important;}
.ziskej-orange-std {color: #eb661b;}

.ziskej-bg-orange {
	background-color: #eb661b;
	color: #fff;
  text-align: center;
}

.ziskej-bg-black {
	background-color: #000;
	color: #cccccc;
}
/* BARVY */



/* HEADER */
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eb661b;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eb661b;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #eb661b;
}

.dropdown-menu {padding: 0;}

.navbar-toggle {border-color: #fff;}
.navbar-toggle .icon-bar {background: #fff;}
.navbar-nav .dropdown-menu {z-index: 5000; background-color: #222;}
.navbar-nav .dropdown-menu > li {text-align: right;}
.navbar-nav .dropdown-menu > li > a {color: #fff; padding: 10px 12px;}

.logo-ziskej {
  max-width: 100%;
}

h1 {
	font-family: 'CooperHewitt-Semibold', Arial, Sans-Serif;
	font-size: 36px;
}

i, em {font-style: italic;}

.main-quote {
  padding-bottom: 15px;
}

.main-quote:before {
  content: "\201D";
  font-family: 'CooperHewitt-Semibold', Arial, Sans-Serif;
  font-size: 80px;
  color: #000;
  position: relative;
	top: 50px;
	right: 5px;
}

.main-quote:after {
  content: "\201C";
  font-family: 'CooperHewitt-Semibold', Arial, Sans-Serif;
  font-size: 80px;
  color: #000;
  position: relative;
	top: 25px;
	left: 5px;
}
/* HEADER */



/* NAVIGACE */
.user-nav-bar {
  background: #222;
  color: #fff;
  text-align: right;
  padding: 0;
}
.user-nav-bar a {
  color: #fff;
}

.navbar-header {
  float: none;
  text-align: center;
}
.navbar-brand {
  background: url('../img/logo.png') center / contain no-repeat;
  width: 200px;
  float: none;
  display: block!important;
  margin: auto!important;
  height: 70px;
}

.navbar {
  background-color: #eb661b;
  margin-bottom: 0;
  padding: 10px 0 25px;
}

.navbar-static-top {
  border: 0;
}

.nav-claim {
  color: #fff;
  font-family: 'CooperHewitt-Medium', Arial, Sans-Serif;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 18px;
  display: none;
}

.nav-claim span.apos {
  color: #000;
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
}

.nav-ziskej {
  padding: 20px 0 0;
}

.nav-ziskej .row div {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'CooperHewitt-Book', Arial, Sans-Serif;
  font-size: 25px;
  color: #808080;
}

.nav-ziskej .row div img {
  margin-bottom: 15px;
}

.nav-ziskej .row div a,
.nav-ziskej ul li a:hover,
.nav-ziskej ul li a:active,
.nav-ziskej ul li a:focus {
  text-decoration: none;
  color: #808080;
  font-size: 18px;
}

.nav-ziskej .row a.selected {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
  color: #000000;
}


/* TABS */
.nav-tabs li a {
  text-decoration: none;
}

/*
.nav-tabs li.active a {
  background-color: #eb661b;
  color: #fff;
}
*/

.nav-tabs li a:hover {
  color: #fff!important;
  background-color: #eb661b!important;
}
.tab-pane {
  padding: 15px 30px;
}

/* NAVIGACE */



/* OBSAH */
.ziskej-flag {
  background-image: url('../img/orangeFlag.png');
  background-repeat: repeat-y;
  margin: 0 0 40px 0;
}

.ziskej-flag h2 {
  line-height: 66px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  text-align: center;
  max-width: 810px;
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
}

.ziskej-content {
  font-family: 'CooperHewitt-Book', Arial, Sans-Serif;
  font-size: 16px;
  color: #000;
}

.ziskej-content h3 {
  text-transform: uppercase;
  color: #eb661b;
  font-size: 24px;
}

.ziskej-content a,
.ziskej-content a:hover,
.ziskej-content a:active,
.ziskej-content a:focus {
  color: #000;
  text-decoration: underline;
}

.ziskej-content b {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
}

.ziskej-content ul {
  list-style: square outside none;
  padding-left: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ziskej-content ul li {
  padding-left: 8px;
}

.ziskej-content ul li ul li {
  padding-left: 8px;
}

.ziskej-content ul li ul li ul li {
  padding-left: 12px;
}

.ziskej-content ul li ul li ul li ul li {
  padding-left: 16px;
}

.ziskej-content table {
  border-radius: 4px;
}

.ziskej-content table th {
  border: none;
}

.ziskej-content table > thead > tr > th {
  border: none;
}

.ziskej-content table .table-bordered td {
  border: 1px solid #ddd;
}

.ziskej-content h4 {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
  font-size: 24px;
  color: #808080;
  margin-top: 32px;
}

.ziskej-content h4 small {
  font-family: 'CooperHewitt-Medium', Arial, Sans-Serif;
  font-size: 16px;
  color: #808080;
  margin-top: 32px;
}

.ziskej-content h5 {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
  font-size: 18px;
  color: #808080;
}

.info-box {
  background-color: #e0ded8;
  color: #808080;
  font-family: 'CooperHewitt-Book', Arial, Sans-Serif;
  font-size: 16px;
  padding: 25px;
}

.info-box:after {
  content: " ";
  display: block;
  background-image: url('../img/grayTooth.png');
  height: 22px;
  width: 33px;
  position: absolute;
  bottom: -22px;
  right: 15px;
}
/* OBSAH */



/* DETAILY */

select {max-width: 100%;}

input[type='checkbox'] {width: 34px;}

.form-control-double {
  display: inline-block;
  width: 40%;
}

.form-panel {
  margin: 1em 0;
  padding: 1em 3em;
  border: 1px solid rgb(208, 208, 208);
}

.list-group {list-style: decimal inside;}

.orange-tooth {
	background-image: url('../img/orangeTooth.png');
  background-repeat: repeat-x;
  height: 22px;
  width: 100%;
}

.black-tooth {
	background-image: url('../img/blackTooth.png');
  background-repeat: repeat-x;
  height: 22px;
  width: 100%;
  margin-top: 45px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d0d0d0;
}

.border-top {
  border-top: 1px solid #d0d0d0;
}

.border-right {
  border-right: 1px solid #d0d0d0;
}

.border-bottom {
  border-bottom: 1px solid #d0d0d0;
}

.border-left {
  border-left: 1px solid #d0d0d0;
}

.breadrumbs-bar ol > li {
  display: inline;
  text-transform: uppercase;
  color: #000;
  font-family: 'CooperHewitt-Book', Arial, Sans-Serif;
  font-size: 18px;
  padding: 0 30px 0 0;
}

.breadrumbs-bar ol li a {
  color: #808080;
}

.breadrumbs-bar ol > li:not(:last-child)::after {
  content: "⟩";
  position: absolute;
  padding: 0 5px;
  color: #808080;
  padding: 0 !important;
  margin-left: 12px;
  margin-top: -2px;
}
.datepicker-wrapper{width:150px;}
.datepicker-wrapper > span:hover{cursor: pointer;}
.fixed-table-container {border: 0!important;}
.fixed-table-body table {width: 99%;}

.toggle-panel-heading {cursor: pointer;}
.toggle-panel-heading h3:after {
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
    color: grey;
}
.toggle-panel-heading.collapsed h3:after {
    content: "\f106";  
}

.panel-body {padding: 0;}
  .panel-body-padding {padding: 15px;}

.well .well {
  background-color: #fff;
}

body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged{
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000;
}

ol.drag-library {
    min-height: 40px;
    padding: 1px 3px;
    border: 1px solid #ddd;
}
  
ol.drag-library li {
  background: #ddd;
  cursor: move;
  font-size: 15px;
  /*padding: 10px 15px;*/
  margin: 3px 0;
  border-radius: 4px;
  opacity: 1;
}
  ol.drag-library li span {padding: 8px 12px; display: block;}
  ol.drag-library li span i.fa-arrows {margin-right: 10px;}
  ol.drag-library li span i.fa-info-circle {float: right; font-size: 20px; cursor: help;}

ol.drag-library li:hover {
  opacity: .9;
}

ol.selected-drag-library li:nth-child(-n+3) {
  background: #dff0d8;
  color: #3c763d;
}

#form-admin_lbconf-ux ol.selected-drag-library li {
  background: #dff0d8;
  color: #3c763d;
}

ol.drag-library li.placeholder:before {
  position: absolute;
}

ol.drag-library li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
ol.drag-library li.placeholder:before {
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 7px solid transparent;
    border-left-color: #eb661b;
    border-right: none;
}

table .badge {
  background-color: #ff6600;
  padding: 4px 7px;
  float: right;
}

table .glyphicon-exclamation-sign {
  color: #d9534f;
  font-size: 20px;
  float: right;
}

.form-validate input:invalid {
   border-color: rgba(203,0,2,.8);
   box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
}

  /* MODAL */
  .modal-footer {text-align: left;}
  .modal-footer .btn {margin: 0 4px 4px;}
  /* MODAL */


  /* CHAT */
  /*.chat-1-1 {}*/
    .chat-1-1-me, .chat-1-1-you {
      border-radius: 4px;
      padding: 4px 8px;
      margin-bottom: 8px;
    }
    .chat-1-1-me small, .chat-1-1-you small {font-size: 75%;}
    .chat-1-1-me {background-color: #f0ad4e; color: #fff;}
    .chat-1-1-you {background-color: #eaeaea;}

  .chat-1-1-unread {
    font-family: 'CooperHewitt-Semibold', Arial, Sans-Serif;
  }


  span.chat-unread-title {
    background: #eb661b;
    color: #fff;
    width: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    height: 24px;
    border-radius: 50%;
  }
  /* CHAT */

.float-right {
  float: right;
}

.infobox-zpravy, .infobox-kniha, .infobox-ceka {
  background: #d9edf7;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 16px;
}
.infobox-zpravy:hover .ziskej-orange-std {color: #fff;}

.infobox-zpravy {
  cursor: pointer;
  transition: all .1s;
}
  .infobox-zpravy:hover {
    background: #eb661b;
    color: #fff;
  }
  #tab-knihy .infobox-zpravy {
    float: right;
  }

.infobox-ceka {display: inline-block;}

.fa span.badge{
    position: relative;
    background: #eb661b;
    top:-7px;
    left: -7px;
    text-align: center;
    color:white;
    font-family: Arial;
    font-size: 9px!important;
    padding: 2px 4px;
}

.lib-link {
  padding-left: 1em;
}

#content-main-header-container {
  margin: 15px auto;
}

#tab-knihy {
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}



#tab-knihy .nav-tabs li.disabled.tab-future a {background: #ccc;}
 #tab-knihy .nav-tabs li.disabled.tab-future a:hover {background: #ccc!important; color: #000!important;}

#tab-knihy .nav-tabs li.tab-edit-future a {background: #ff9933; color: #fff;}
 #tab-knihy .nav-tabs li.tab-edit-future a:hover {background: #eb661b!important;}

#tab-knihy .nav-tabs li a:hover .ziskej-orange-std {color: #fff;}

#tab-knihy .nav-tabs li.tab-history a {background: #d9edf7; color: #000;}
#tab-knihy .nav-tabs li.tab-actual a {background: #449d44; color: #fff;}

/*
.nav-tabs li.tab-history.active a, .nav-tabs li.tab-actual.active a {background: #fff; color: #000;}
*/
/*#tab-knihy .nav-tabs li.tab-history a {border-bottom: 2px solid #d9edf7;}*/
/*#tab-knihy .nav-tabs li.tab-actual a {border-bottom: 2px solid #449d44;}*/
#tab-knihy .nav-tabs li.tab-history.active a, 
#tab-knihy .nav-tabs li.tab-actual.active a {background: #fff; color: #000;}

.btn-group .btn {margin: 0!important;}
  .btn-group .btn.btn-dark {background: #777; color: #fff;}
  .btn-group .btn.btn-dark:hover {background: #444;}

.btn {text-decoration: none!important;}

.swal2-popup .swal2-content {
  font-size: 1.5em!important;
}

.nav-tabs-colored {
  background: #ccc;
  padding: 15px 0 0;
}

.naked-icon {color: #777; cursor: pointer;}
  .naked-icon:hover {color: #eb661b;}

ul.important-links a {
  font-size: 120%
}

ul.important-links .danger a,
ul.important-links .danger a:hover {
  color: #d9534f;
}

.emergency-header {
  color: #fff;
}
.emergency-header strong {
  color: #d9534f;
}

.ziskej-content a.no-underline {
  text-decoration: none;
}

/* DETAILY */



/* COOKIE LAW */

#cookie-law {
  background-color: #fff;
  text-align: center;
  border-top: 2px solid #ff6600;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: none;
}
  #cookie-law p {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #000;
  }

  #confirm-cookie-law {
    margin: 0 15px;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background-color: #ff6600;
    border-radius: 5px;
    cursor: pointer;
  }
    #confirm-cookie-law:hover {text-decoration: underline;}

  #cookie-law a {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #ff6600;
    text-decoration: none;
  }
    #cookie-law a:hover {text-decoration: underline;}

/* COOKIE LAW */


/* TLAČÍTKA */
.btn,
.btn:active,
.btn:focus {
  outline: none !important;
  border: 0;
  padding: 8px 16px;
  margin: 0 4px 8px 0;
}

.btn.btn-default {
  background-color: #ddd;
  color: #000;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #ccc;
  color: #000;
}

.btn.btn-primary {
  background-color: #ff9933;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #ff6600;
  color: #fff;
}
/* TLAČÍTKA */



/* FOOTER */
#footer div.container {
  padding: 45px 0;
  font-size: 20px;
  font-family: 'CooperHewitt-Book', Arial, Sans-Serif;
}
  
#footer div.container a,
#footer div.container a:hover,
#footer div.container a:active {
  color: #ccc;
  text-decoration: none;
}

#footer div.container a.underlined,
#footer div.container a.underlined:active,
#footer div.container a.underlined:hover {
  text-decoration: underline;
}

.footer-icons {
  max-width: 700px;
  margin: auto;
}
.footer-creators {
  max-width: 800px;
  margin: auto;
}
/* FOOTER */



/* PANEL */
.panel {
  margin-top: 2em;
}

.panel.panel-nomargin {
  margin-top: 0;
}

.panel h3 {
  font-size: 100%;
}

h3.panel-title {
  color: #000;
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
}
/* PANEL */



/* VARIOUS */
label, 
th {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
}

label {
  line-height: 1.5;
}

.force-min-height {
  min-height: 360px;
}

.reader-block {
  background-color: #808080;
  position: absolute;
  right: 0;
  top: 13%;
  padding: 12px 22px;
  text-align: left;
}

.reader-block a {
  color: #fff;
}

.condensed {
  font-size: 80%;
  padding: 0;
  margin: 0;
}

.condensed h3 {
  font-size: 100%;
}

.additional {
  font-size: 10px;
  color: #808080;
}

.date-helper {
  float: left;
  font-size: 1%;
  opacity: 100%;
}

.wf-transition-item {
  display: block;
  margin: 4px 12px 4px 0;
}

.form-warning {
  border: 1px solid #eb661b;
  padding: 0.5em 1.5em;
}

.help em {
  font-style: italic;
}

.subtickets_count {
  font-size: 80%;
}

.grey, .grey p, .grey span {
  color: Grey;
}

.substate-info {
  color: #eb661b;
}

.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.margin-left {
  margin-left: 3em;
}

.margin-right {
  margin-right: 1em;
}

.invisible-input {
  opacity: 0;
  font-size: 1%;
  margin-top:-15px;
}

/* VARIOUS */


/* Tabulky: Fronta objednávek, požadavků, Admin... */

td.admin-tools a {
  margin-right: 1em;
}

tr.unread td {
  background-color: #aad6ea;
}

tr.unread-new td {
  font-weight: bold;
}

table.queuezk .pending {
  color: #eb661b;
}

.queue-cc-info {
  font-family: 'CooperHewitt-Bold', Arial, Sans-Serif;
  color: #eb661b;
}

/* ZISKEJ-CONTENT  */
.ziskej-content h1, .ziskej-content h2, .ziskej-content h3, .ziskej-content h4, .ziskej-content h5, .ziskej-content h6 {color: #000;}

.ziskej-content ol {list-style: decimal inside;}
  .ziskej-content ol li {display: list-item;}
/* ZISKEJ-CONTENT  */




/* PLONE */
/*
#global_statusmessage {
  margin: 1em 1em 1em 3em;
}

.portalMessage.info {
  background-color: #aad6ea;
  border: 1px solid #9acee6;
  color: rgba(0, 0, 0, 0.5);
}

.portalMessage {
  border: 0 none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 15px 15px 15px 45px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
*/

#global_statusmessage{
  display: none;
}

.portalMessage {
  padding: 15px;
  padding-left: 45px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
.portalMessage > strong,
.portalMessage > dt {
  font-weight: 500;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage a {
  font-weight: 300;
  color: #005176;
}
.portalMessage > strong:before,
.portalMessage > dt:before {
  font-size: 14px;
  font-weight: 300;
  margin-left: -30px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  top: -1px;
  position: relative;
}
.portalMessage > dt,
.portalMessage > dd {
  display: inline;
}
.portalMessage > dd {
  margin: 0;
}
.portlet .portletContent > .portalMessage {
  padding: 15px;
  padding-left: 45px;
  margin: 15px;
}
.portalMessage.info {
  background-color: #aad6ea;
  border: 1px solid #9acee6;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.info > strong,
.portalMessage.info > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.info > strong:before,
.portalMessage.info > dt:before {
  background-color: #3e7b91;
  content: "i";
}
.portalMessage.warning {
  background-color: #ebd380;
  border: 1px solid #e7ca66;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.warning > strong,
.portalMessage.warning > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.warning > strong:before,
.portalMessage.warning > dt:before {
  background-color: #bc8d0d;
  content: "!";
}
.portalMessage.error {
  background-color: #EC9C8D;
  border: 1px solid #eb9484;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.error > strong,
.portalMessage.error > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.error > strong:before,
.portalMessage.error > dt:before {
  background-color: #ac493f;
  content: "×";
}

.hiddenStructure {
  display: none;
}

.formHelp {
  font-size: 13px;
  color: #808080;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}
#login-form {
  text-align: center;
  margin: 1em;
}
#login-form .field {
  margin: 1em;
}
#login-form .field label {
  margin-right: 1em;
}
#login-form .field label[for='__ac_password'] {
  margin-left: 6em;
}
#login-forgotten-password {
  display: none;
}
body.template-edit form#form .field {
  margin: 1em 0;
}
body.template-edit form#form .field .formHelp {
  font-family: 'CooperHewitt-Light';
}
body.template-edit form#form .field input.text-widget {
  width: 100%;
}
body.template-edit form#form .field textarea.textarea-widget {
  width: 100%;
}
.option .label {
  font-family: 'CooperHewitt-Bold';
  font-size: 100%;
  color: Black;
}
/* PLONE */


/* Instances */
body.instance-demo .navbar {
  background-color: #75310a;
}
body.instance-demo .orange-tooth {
  display: none;
}
body.instance-demo {
  background-color: #ffffd0
}
/* Instances */


@media print {
    #user-nav-bar {display: none;}
    .navbar {display: none;}
    .orange-tooth {display: none;}
    #nav-ziskej-wrapper {display: none;}
    #nav-ziskej-wrapper-hr {display: none;}
    #breadcrumbs {display: none;}
    footer {display: none;}
    #cookie-law {display: none!important;}
    .printnone {display: none;
  }
}


@media screen and (max-width: 1025px) {
  .ziskej-bg-orange h1 {
    font-size: 28px;
  }
  
  .nav-ziskej .row .col-md-4 {
    font-size: 20px;
  }
}



@media screen and (max-width: 769px) {
  .ziskej-bg-orange h1 {
    font-size: 20px;
  }

  .main-quote:before {
    font-size: 40px;
    top: 25px;
  }

  .main-quote:after {
    font-size: 40px;
    top: 25px;
  }
}



@media screen and (max-width: 767px) {
  .nav-claim {
    display: none;
  }

  .navbar-header {
    text-align: center;
  }

  .navbar-brand {
    float: none;
    display: inline-block;
  }
}



@media screen and (max-width: 426px) {
  .logo-ziskej {
    max-width: 60%;
  }

  .ziskej-bg-orange h1 {
    display: none;
  }

  .nav-ziskej {
    padding: 0 5px;
  }

  .nav-ziskej .row .col-md-4 {
    width: 100%;
  }

  .nav-ziskej .row .col-md-4 img {
    display: none;
  }

  .footer-icons .col-xs-6 {
    padding: 15px 0;
  }
}


